.modal {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .paper {
  padding: 45px 70px;

  display: flex;
  outline: none;

  border-radius: 5px;
}

.modal .paper .content-wrapper {
  max-width: 500px;
  margin-right: 45px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal .paper .content-wrapper h2 {
  margin-bottom: 25px;
  display: flex;
  font-size: 80px;
  font-weight: 800;
}

.modal .paper .content-wrapper p#transition-modal-description {
  text-align: center;
}

.modal .paper .content-wrapper button {
  margin-top: 55px;
  padding: 10px 25px;

  color: #fff;
  cursor: pointer;
  font-weight: 800;

  border: 0;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.modal .paper .content-wrapper button.delete-confirmation {
  background-color: #A00651;
  margin-left: 15px;
}

.modal .paper .content-wrapper button.delete-confirmation:hover {
  background-color: #BB055D;
}
