aside.app-sidebar {
  position: fixed;
  height: 100%;
  width: 80px;
  padding: 20px 0;

  display: flex;
  justify-content: center;

  background: linear-gradient(329.54deg, #15B6D6 0%, #15D6D6 100%);
}

  aside .sidebar-itens {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  aside.app-sidebar img {
    width: 48px;
  }

  aside.app-sidebar a,
  aside.app-sidebar button {
    width: 48px;
    height: 48px;

    border: 0;

    background: #12AFCB;
    border-radius: 16px;

    cursor: pointer;

    transition: background-color 0.2s;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  aside.app-sidebar a:hover,
  aside.app-sidebar button:hover {
    background: #17D6EB;
  }

/* Estilos do aside para as páginas de dashboard */
aside.app-sidebar .dashboard-itens a:first-child {
  margin-bottom: 10px;
}

aside.app-sidebar .dashboard-itens a.selected {
  background-color: #FFD666;
}

aside.app-sidebar  .dashboard-itens a.selected svg * {
  color: #0089A5;
}



